@using Frapid.ApplicationState.Cache
@using MixERP.Sales.Extensions

@model dynamic
@{
    var meta = AppUsers.GetCurrent();
}
<link rel="stylesheet" href="/Areas/MixERP.Sales/styles/shared/checkout.css" />

<div id="pos-container" class="ui attached pos sales inverted segment">
    <div class="dimmer">
        <div class="spinner">
            <i class="ui huge loading spinner icon"></i>
        </div>
        <div>
            Loading Items
        </div>
    </div>
    <div class="layout" style="display: none;">
        <div class="pos tabs">
            <div class="new item">+</div>
            <div id="tab-item-1" class="selected item">
                1
            </div>
            <div class="actions">
                <div class="remove">
                    <i class="delete icon"></i>
                </div>
            </div>
        </div>
        <div id="pos-items">
            <div class="all items">
                <div class="status head">
                    <div class="left">
                        <span class="office info" title="Current Branch Office">
                            @meta.OfficeName
                        </span>
                        <span class="user info" title="You">
                            @meta.Name
                        </span>
                        <span class="area info" title="Current Area">
                            @meta.OfficeCode
                        </span>
                        <span class="office info" title="Office Name">
                            @meta.OfficeName
                        </span>
                    </div>

                    <div class="right">
                        <div class="three inline blocks">
                            <div class="item">
                                <select class="ui inverted fluid dropdown" id="PriceTypeSelect"></select>
                            </div>
                            <div class="item">
                                <select class="ui inverted fluid dropdown" id="StoreSelect"></select>
                            </div>
                            <div class="item">
                                <select class="ui inverted fluid dropdown" id="CounterSelect"></select>
                            </div>
                        </div>
                    </div>

                </div>

                @Html.PartialView("Shared/POSItemList.cshtml", TenantConvention.GetTenant())
            </div>
            <div class="checkout items">
                <div class="ui action panel">
                    <div class="toolbar">
                        <div class="toggle view item" title="Toggle View">
                            <i class="toggle off icon"></i>
                        </div>
                        <div class="item" data-payment-type="credit" title="Credit">
                            <i class="tags icon"></i>
                        </div>
                        <div class="item" data-payment-type="cash" title="Cash">
                            <i class="money icon"></i>
                        </div>
                        <div class="item" data-payment-type="check" title="Pay by Check">
                            <i class="newspaper icon"></i>
                        </div>
                        <div class="item" data-payment-type="gift-card" title="Pay by Gift Card">
                            <i class="gift icon"></i>
                        </div>
                        <div class="item" id="SearchCustomerAction" title="Search Customer">
                            <i class="search icon"></i>
                        </div>
                        <div class="reprint ticket item" onclick="$('.reprint.ticket.modal').modal('show');" title="Reprint Ticket">
                            <i class="print icon"></i>
                        </div>
                    </div>
                    <div class="action container">
                        @Html.PartialView("Shared/SalesEntryForm.cshtml", TenantConvention.GetTenant())

                        <div id="SalesItems" class="sales items">
                        </div>
                        <div class="footer items" style="display: none;">
                            <div class="ui clear negative circular button" id="ClearScreenButton">
                                Clear Screen
                            </div>
                            <div class="ui next positive circular button">Next</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="SalesTaxRateHidden" />


@Html.PartialView("Shared/CustomerSearchModal.cshtml", TenantConvention.GetTenant())
@Html.PartialView("Shared/ReprintTicketModal.cshtml", TenantConvention.GetTenant())
@Html.PartialView("Shared/GiftCardSerachModal.cshtml", TenantConvention.GetTenant())

<script src="/Areas/MixERP.Sales/scripts/shared/pos-screen.js"></script>

