@model dynamic

@{
    ViewBag.Title = I18N.SalesEntries;
    Layout = ViewBag.SalesLayoutPath;
}
<style>
    .modal iframe {
        border: none;
        height: 700px;
        width: 100%;
    }
</style>

<div class="ui attached page segment" style="min-height: 100%; padding: 3em;">
    <div class="ui huge title header">@I18N.SalesQuotations</div>
    <div class="ui divider"></div>
    <div class="ui basic buttons">
        <a id="AddNewButton" href="/dashboard/sales/tasks/quotation/new" class="ui basic add new button">@I18N.AddNewSalesQuotation</a>
        <div class="ui icon top left pointing dropdown basic button" id="ExportDropDown" tabindex="0">
            <span>
                @I18N.Export
            </span>
            <div class="menu" tabindex="-1">
                <div class="header">
                    @I18N.ExportThisDocument
                </div>
                <a class="item" href="javascript:void(0);" onclick="createDoc();">
                    <i class="file word outline blue icon"></i> @I18N.ExportToDoc
                </a>
                <a class="item" href="javascript:void(0);" onclick="createXls();">
                    <i class="file excel outline green icon"></i> @I18N.ExportToExcel
                </a>
                <a class="item" href="javascript:void(0);" onclick="createPDF();">
                    <i class="file pdf outline red icon"></i> @I18N.ExportToPDF
                </a>
            </div>
        </div>
        <a id="PrintButton" href="javascript:void(0);" onclick="print()" class="ui basic button">
            @I18N.Print
        </a>
    </div>

    <div class="ui stackable form segment" id="Annotation" style="">
        <div class="six fields">
            <div class="field">
                <input class="date" data-persist placeholder="@I18N.From" id="FromInputDate" title="@I18N.From" type="date">
            </div>
            <div class="field">
                <input class="date" data-persist placeholder="@I18N.To" id="ToInputDate" title="@I18N.To" type="date">
            </div>
            <div class="field">
                <input class="date" data-persist placeholder="@I18N.ExpectedFrom" id="ExpectedFromInputDate" title="@I18N.ExpectedFrom" type="date">
            </div>
            <div class="field">
                <input class="date" data-persist placeholder="@I18N.ExpectedTo" id="ExpectedToInputDate" title="@I18N.ExpectedTo" type="date">
            </div>
            <div class="field">
                <input placeholder="@I18N.Id" id="IdInputText" title="@I18N.Id" type="text">
            </div>
            <div class="field">
                <input placeholder="@I18N.ReferenceNumber" id="ReferenceNumberInputText" title="@I18N.ReferenceNumber" type="text">
            </div>
        </div>
        <div class="six fields">
            <div class="field">
                <input placeholder="@I18N.Customer" id="CustomerInputText" title="@I18N.Customer" type="text">
            </div>
            <div class="field">
                <input placeholder="@I18N.TermsConditions" id="TermsInputText" title="@I18N.TermsConditions" type="text">
            </div>
            <div class="field">
                <input placeholder="@I18N.InternalMemo" id="InternalMemoInputText" title="@I18N.InternalMemo" type="text">
            </div>
            <div class="field">
                <input placeholder="@I18N.PostedBy" id="PostedByInputText" title="@I18N.PostedBy" type="text">
            </div>
            <div class="field">
                <input placeholder="@I18N.Office" id="OfficeInputText" title="@I18N.Office" type="text">
            </div>
            <div class="field hidden">
                <input placeholder="@I18N.UserId" id="UserIdInputText" title="@I18N.UserId" type="text">
            </div>
            <div class="field hidden">
                <input placeholder="@I18N.OfficeId" id="OfficeIdInputText" title="@I18N.OfficeId" type="text">
            </div>
            <div class="field">
                <div class="ui green button" id="ShowButton">@I18N.Show</div>
            </div>
        </div>


    </div>

    <div class="fluid width overflown section">
        <table id="JournalView" class="ui table nowrap segment">
            <thead>
            <tr>
                <th>@I18N.Actions</th>
                <th>@I18N.Id</th>
                <th>@I18N.Customer</th>
                <th>@I18N.ValueDate</th>
                <th>@I18N.ExpectedDate</th>
                <th>@I18N.ReferenceNumberAbbreviated</th>
                <th>@I18N.Terms</th>
                <th>@I18N.InternalMemo</th>
                <th>@I18N.PostedBy</th>
                <th>@I18N.Office</th>
                <th>@I18N.PostedOn</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="ui large advice modal">
    <i class="close icon"></i>
    <iframe></iframe>
</div>

<script src="/Areas/MixERP.Sales/scripts/tasks/quotation/index.js"></script>